body {
	margin: 0;
	padding: 0;
	background: url(5.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	font-family: sans-serif;  
}

.nav-link:hover {
	background-color: grey; 
}

.display-4 {
	font-weight: bold;
}

.card-body-icon {
	position: absolute;
	z-index: 0;
	top: 25px;
	right: 4px;
	opacity: 0.4;
	font-size: 90px;
}

.container {
	width: 60%;
	margin-top: 5%;
	padding: 40px;
	box-shadow: 0 0 30px 5px grey;
	background-color:rgba(111,205,39, 0.8);
	color: black;
}